{% extends 'base.html' %}
{% block content %}
  <div class="home">
    <h3>What cuisine are you longing for?</h3>
    <form  style="z-index: 1000 !important;" id="form" action="/recipes/by_area">
      <input name="area" class="form-control" placeholder="E.g: Canadian" id="search">
      <button class="btn btn-default">
        <span class="fa fa-search"></span>
      </button>
    </form>
    <img class="img" src="https://cms-b-assets.familysearch.org/dims4/default/055ea1c/2147483647/strip/true/crop/800x500+0+0/resize/1240x775!/quality/90/?url=https%3A%2F%2Ffamilysearch-brightspot.s3.amazonaws.com%2F89%2F3f%2F1a23c4a6fe52a96d2a6d2586cb90%2Fworld-cuisine.jpg"> 
  </div>
{% endblock %}