{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-start">
  <div class="col-sm-9">
    <div class="row">
      <h3>Here is what we find for you: </h3>

      {% for recipe in recipes %}
      <div class="col-lg-4 col-md-6 col-12">
        <div class="card user-card">
          <div class="card-inner">
            <div class="card-contents">
              <img src="{{recipe.img}}" class="card-meal-img">
              <a href="/recipes/{{recipe.name}}" class="card-meal-name"><p>{{recipe.name}}</p></a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endblock %}